<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Insight.Database" version="6.0.0" targetFramework="net47" />
  <package id="Insight.Database.Configuration" version="6.0.0" targetFramework="net47" />
  <package id="Insight.Database.Core" version="6.0.0" targetFramework="net47" />
  <package id="Insight.Database.Providers.Default" version="6.0.0" targetFramework="net47" />
  <package id="MSTest.TestAdapter" version="1.1.18" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.1.18" targetFramework="net47" />
  <package id="System.Data.Common" version="4.1.0" targetFramework="net47" />
  <package id="System.Data.SqlClient" version="4.1.0" targetFramework="net47" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net47" />
</packages>